@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
header > img{
    background-color: rgb(218, 217, 217);
    background-image: url(imagens/logosolar.png);  
    width: 250px;
    height: 100px;
    display: inline-block;  
}
header > nav {
    float: right;
    margin-right: 50px;
    margin-top: 80px;
}
.tith1 > img {
    background-image: url('../imagens/photovoltaic.jpg');
    width: 1000px;
    height: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.solic {
    transform: translate(40%, 320%);
    font-size: 18px;
    background-color: blue;
    color: aliceblue;
    height: 40px;
    width: 220px;
    border: none;
    border-radius: 20px;

}
.solic:hover {
    background-color: rgb(121, 121, 247);
    cursor: pointer;
}
.tith1 {
    background-image: url('imagens/photovoltaic.jpg');
    height: 400px;
    width: 100% 
}
.tith1, h1 {
    color: white;
    padding-left: 25px;
    padding-top: 80px;
    font-size: 40px;
}
#imagem > article 







