@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(218, 217, 217);    
}
img {
    height: 80px;
}
nav {
    text-align: right;
    transform: translate(-20%, -200%);
    gap: 20px;
}